<div class="container mt-4">

  <div class="alert alert-primary  mt-4"  style="font-weight: 550">

    <form (ngSubmit)="onSubmit()">
      <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <!-- set name="email"  same name property [(ngModel)]="paymentInfo.email"  it will mapped if you don't set it returns undefine -->
          <input type="text"  class="form-control" id="email" name="email" [(ngModel)]="paymentInfo.sendToEmail">
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="card-element">Credit / Debit Card</label>
        <div class="col-sm-10">
          <div class="mt-2" id="card-element">
            <!-- stripe element will be inserted here -->
          </div>
          <div style="
                text-align: left;
                margin-top: 15px;
                color: firebrick;"
               id="card-errors" role="alert">
          </div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Purchase For {{paymentInfo.amount/100 | currency : 'THB'}}</button>
    </form>

  </div>

</div>
