<ng-container >
  <div class="" style="font-weight: 550">
    <form class="">
      <div class="form-outline mb-4 " style="margin: 0 auto;width: 850px; height: 180px">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
        <div class="input-group">
          <div class="input-group-text">Email</div>
          <input
            [(ngModel)]="paymentInfo.sendToEmail"
            name="email"
            type="email"
            class="form-control "
            id="inlineFormInputGroupUsername"
            placeholder="Email..."/>

        </div>
        <div class="input-group mt-2 ">
          <label class="input-group-text"  for="card-element">Credit / Debit</label>
          <div class="form-control">
            <div class="mt-2 mb-2" id="card-element">
              <!-- form -->
            </div>
          </div>
          <button type="button" class="btn btn-light" (click)="purchase()">Primary</button>
        </div>
      </div>
    </form>
  </div>
</ng-container>


